* {
    margin: 0px;
    padding: 0px;
}
body {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}
header, footer {
    padding: 1rem;
    white-space: nowrap;
}
header h1 {
    text-align: center;
}
header, footer {
    font-family: "Raleway", sans-serif;
}
header {
	font-size: 200%;
}
.content {
    display: flex;
    flex-grow: 2;
    justify-content: center;
    line-height: 1.9;
    font-family: "Open Sans", sans-serif;
}
main {
    padding: 1rem;
    display: flex;
}
main .contact {
    width: fit-content;
    padding: .5rem;
    white-space: nowrap;
}
main img {
    width: 123px;
    padding: .5rem;
    object-fit: contain;
    object-position: top;
}

.left, .right {
    width: 200px;
    padding: 1rem;
}
footer * {
    vertical-align: baseline;
}
footer img {
    vertical-align: bottom;
}
footer ul {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
footer ul li:not(:last-child)::after {
    content: '|';
    font-size: 18px;
    padding: 10px;
}

@media (max-width: 768px) {
    .left, .right {
        display: none;
    }
    .content {
        flex-grow: .5;
    }
}
@media (max-width: 480px) {

}
